* {
    color: #8142c2;
}

img {
    width: 70%;
    height: 20%;
    border-radius: 10px;
    margin: 10px;
}

ul {
    list-style-type: "\2713";
    grid-column: 2;
}

li {
    text-align: left;
}

.roteiro-destino {
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

.roteiros-viagens {
    background-color: #e5d4ff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 180px;
    height: 430px;
}

.roteiro-incluso {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.roteiro-preco {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    margin-bottom: 5px;
}

.roteiro-obs, .roteiro-parcelamento {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    margin-bottom: 5px;
}

.roteiro-comprar {
    background-color: #54f26a;
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fef9f6;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px #5a2869;
    
}

.roteiro-comprar:hover {
    background-color: #007e6a;
    color: #fff;
    cursor: pointer;
    box-shadow: -6px 6px 0px 1px #5a2869
}

@media (min-width: 1200px) {
    .container-destinos {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-width: 1350px) {
    .container-destinos {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
    }

    .roteiros-viagens {
        background-color: #e5d4ff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        width: 180px;
        height: 430px;
        max-width: 200px;
    }
}

@media (max-width: 1200px) {
    .container-destinos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
    }
}
