.menu > .titulo {
    padding-top: 0px;
}

@media (min-width: 500px) {
    .menu {
        background-color: aqua;
        display: grid;
        grid-column: 1;
    }

}

@media (max-width: 500px) {
    .menu {
        background-color: purple;
        grid-row: 1;
    }
}