<div class="servicos">
    <div class="titulo">
        <h4>{{titulo}}</h4>
    </div>
    <div id="servicos" class="corpo">
        <!-- <h5>Previsão do tempo para Ilhéus</h5>
        <ul>
            <li>Data/Hora: 12/12/2023 22:12</li>
            <li>Condição atual do tempo: Parcialmente nublado</li>
            <li>Temperatura: 26°C</li>
            <li>Humidade: 74%</li>
            <li>Nebulosidade: 20.0%</li>
            <li>Volume de chuva: 0.0mm</li>
            <li>Velocidade do vento: 3.09km/h</li>
        </ul> -->
    </div>
</div>