@media (min-width: 500px) {
    .destaque {
        background-color: purple;
        display: grid;
        grid-template-rows: 30px 410px;
        align-items: center;
        justify-items: center;
    }

    .imagens {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1/span 2;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .destaque {
        background-color: yellow;
    }

    .imagens {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 10px;
    }

    .img1 {
        grid-column: 2;
    }

    .img2 {
        grid-column: 3;
    }
}