<div id="form-reactive">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id="bloco-1">
            <div id="nome-usuario">
                <mat-label>Nome do usuário</mat-label>
                <div>
                    <input matInput formControlName="nomeUsuario" placeholder="Nome de usuário sem espaços"
                        [ngClass]="{'invalid-field': form.get('nomeUsuario')?.invalid && form.get('nomeUsuario')?.touched}"
                    >
                    <div>
                        <mat-error *ngIf="!form.get('nomeUsuario')?.valid && form.get('nomeUsuario')?.touched"
                        >Nome de usuário inválido. O nome não pode conter espaços.</mat-error>
                    </div>
                </div>
            </div>

            <div id="senha">
                <mat-label>Senha</mat-label>
                <div>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" placeholder="****"
                        [ngClass]="{'invalid-field': form.get('senha')?.invalid && form.get('senha')?.touched}"
                    >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div>
                        <mat-error *ngIf="!form.get('senha')?.valid && form.get('senha')?.touched"
                        >Senha inválida. Mínimo de 04 caracters com pelo menos uma letra maiúscula e um caracter especial.</mat-error>
                    </div>
                </div>
            </div>
            
            <div id="email">
                <mat-label>E-mail</mat-label>
                <div>
                    <input matInput type="email" placeholder="pat@example.com" formControlName="email"
                        [ngClass]="{'invalid-field': form.get('senha')?.invalid && form.get('senha')?.touched}"
                    >
                    <div>
                        <mat-error *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
                        >E-mail inválido. Digite um e-mail válido.</mat-error>
                    </div>
                </div>
            </div>
        </div>

        <div id="bloco-2">
            <div id="nome">
                <mat-label>Nome completo</mat-label>
                <div>
                    <input matInput formControlName="nomeCompleto" placeholder="Digite seu nome completo"
                        [ngClass]="{'invalid-field': form.get('nomeCompleto')?.invalid && form.get('nomeCompleto')?.touched}"
                    >
                    <div>
                        <mat-error *ngIf="!form.get('nomeCompleto')?.valid && form.get('nomeCompleto')?.touched"
                        >Nome inválido. Digite seu nome completo.</mat-error>
                    </div>
                </div>
            </div>

            <div id="endereco">
                <mat-label>Endereço</mat-label>
                <div>
                    <input matInput formControlName="endereco" placeholder="Digite um endereço válido"
                        [ngClass]="{'invalid-field': form.get('endereco')?.invalid && form.get('endereco')?.touched}"
                    >
                    <div>
                        <mat-error *ngIf="!form.get('endereco')?.valid && form.get('endereco')?.touched"
                        >Endereço inválido. Digite um endereço válido.</mat-error>
                    </div>
                </div>
            </div>
        </div>

        <div id="bloco-3">
            <div id="telefone">
                <mat-label>Telefone</mat-label>
                <div>
                    <span matTextPrefix>+55 &nbsp;</span>
                    <input type="tel" matInput placeholder="Somente números" formControlName="telefone" maxlength="11"
                        [value]="formatarTelefone()"
                        [ngClass]="{'invalid-field': form.get('telefone')?.invalid && form.get('telefone')?.touched}"
                    >
                    <mat-icon matSuffix>phone</mat-icon>
                    <div>
                        <mat-error *ngIf="!form.get('telefone')?.valid && form.get('telefone')?.touched"
                        >Telefone inválido. Informe seu telefone com DDD.</mat-error>
                    </div>
                </div>
            </div>

            <div id="nascimento">
                <mat-label>Data de nascimento</mat-label>
                <div>
                    <input matInput [matDatepicker]="picker" formControlName="nascimento" placeholder="Selecione uma data"
                        [ngClass]="{'invalid-field': form.get('nascimento')?.invalid && form.get('nascimento')?.touched}"
                    >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>DD/MM/AAAA</mat-hint>
                    <div>
                        <mat-error *ngIf="!form.get('nascimento')?.valid && form.get('nascimento')?.touched"
                        >Data de nascimento inválida. Selecione no calendário.</mat-error>
                    </div>
                </div>
            </div>

            <div id="genero">
                <mat-label>Gênero</mat-label>
                <div>
                    <mat-select formControlName="genero" placeholder="Selecione...">
                        @for (genero of generos; track genero) {
                            <mat-option [value]="genero.value">{{genero.viewValue}}</mat-option>
                        }
                    </mat-select>
                </div>
            </div>
        </div>

        <div id="bloco-4">
            <div id="profissao">
                <mat-label>Profissão</mat-label>
                <div>
                    <section [formGroup]="profissao">
                        @for (profissao of profissoes; track profissao) {
                            <p><mat-checkbox [formControlName]="profissao.value">{{profissao.viewValue}}</mat-checkbox></p>
                        }
                    </section>
                </div>
            </div>
        </div>

        <div id="bloco-5" class="text-left">
            <div>
                <button id="enviar" mat-button [disabled]="buttonDisabled" type="submit" color="primary">Enviar</button>
                <button id="limpar" mat-button type="reset" color="primary" (click)="limpar()">Limpar</button>
            </div>
        </div>
    </form>

    <div id="saida" *ngIf="saida != ''">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dados Formulário</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{saida}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="saida2" *ngIf="showTable">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Ações do usuário</mat-card-title>
              <mat-card-subtitle>Valores</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="dataSourceValor" class="mat-elevation-z8">
                    <!-- Name Column -->
                    <ng-container matColumnDef="dataHora">
                      <th mat-header-cell *matHeaderCellDef> Data / Hora </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataHora | date: 'dd/MM/yyyy HH:mm'}} </td>
                    </ng-container>
                  
                    <!-- pet Column -->
                    <ng-container matColumnDef="campo">
                      <th mat-header-cell *matHeaderCellDef> Campo </th>
                      <td mat-cell *matCellDef="let element"> {{element.campo}} </td>
                    </ng-container>
                  
                    <!-- data Column -->
                    <ng-container matColumnDef="valor">
                      <th mat-header-cell *matHeaderCellDef> Valor </th>
                      <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsValor"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsValor;"></tr>
                  </table>
            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Ações do usuário</mat-card-title>
              <mat-card-subtitle>Status</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="dataSourceStatus" class="mat-elevation-z8">
                    <!-- Name Column -->
                    <ng-container matColumnDef="dataHora">
                      <th mat-header-cell *matHeaderCellDef> Data / Hora </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataHora | date: 'dd/MM/yyyy HH:mm'}} </td>
                    </ng-container>
                  
                    <!-- pet Column -->
                    <ng-container matColumnDef="campo">
                      <th mat-header-cell *matHeaderCellDef> Campo </th>
                      <td mat-cell *matCellDef="let element"> {{element.campo}} </td>
                    </ng-container>
                  
                    <!-- data Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsStatus"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsStatus;"></tr>
                  </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>